<html>
  <head>
    <title>Express handlebars</title>
    <script src="public/jquery.js"></script>
    <script src="public/main.js"></script>
  </head>
  <body>
    <div id="roll" > text</div>
    <div id="pitch"> text</div>
    <div id="throttle"> text</div>
    <div id="quit"> text</div>

  </body>
</html>
